<div class="container container-fluid">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
    <span class="navbar-brand">FASCO</span>
    <ul class="list-inline mb-0 text-center text-md-end">
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Support Center</a>
      </li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Invoicing</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Contract</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Careers</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Blog</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">FAQ,s</a></li>
    </ul>
  </div>
  <div class="text-center mt-4 text-muted">
    <span>Copyright © 2026 Xpro . All Rights Reserved.</span>
  </div>
</div>