<div class="container">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">

    <h2 class="navbar-brand">FASCO</h2>

    <ul class="list-inline mb-0 text-center text-md-end">
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Support Center</a>
      </li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Invoicing</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Contract</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Careers</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">Blog</a></li>
      <li class="list-inline-item mx-3"><a href="#" class="text-decoration-none text-muted small">FAQ,s</a></li>
    </ul>
  </div>

  <div class="text-center mt-5">
    <small class="text-muted" style="font-size: 0.75rem;">
      Copyright © 2022 Xpro . All Rights Reserved.
    </small>
  </div>
</div>