<div class="container container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a href="index.html" style="text-decoration: none;">
      <h2 class="navbar-brand">FASCO</h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link active" href="shop_page.html">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="shop_page.html">Products</a></li>
      </ul>
      <div class="ms-lg-3 d-flex gap-3">
        <button type="button" class="btn btn-dark sign-btn" data-bs-toggle="modal" data-bs-target="#registerModal2">Sign
          Up</button>
        <a type="button" class="btn btn-link text-dark p-0 position-relative" href="../shopping_cart.html">
          <i class="bi bi-cart fs-4"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            id="cart-badge-count" style="font-size: 0.65rem;">
            0
          </span>
        </a>
      </div>
    </div>
  </nav>
</div>