<div class="row g-0 h-100">
  <div class="col-lg-6 product-image-col">
  </div>
  <div class="col-lg-6 product-text-col">
    <div class="text-content w-75">
      <p>Women Collection</p>
      <h2 class="mb-3">Peaky Blinders</h2>
      <p><u>DESCRIPTION</u></p>
      <p class="text-muted mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem.
        Scelerisque duis ultrices sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque
        duis.
      </p>
      <div class="mb-4">
        <p>Size:<button class="btn btn-dark">M</button></p>
      </div>
      <div class="fs-3 fw-bold text-dark">$100.00
      </div>
      <button class="btn btn-dark px-5 py-2 mt-4" onclick="window.location.href='./pages/shop_page.html'">Buy
        Now</button>
    </div>
  </div>
</div>
<div class="container text-center mt-5">
  <div class="row align-items-start">
    <div class="col">
      <img src="images/icons/quality.png" alt="">
      <p>High Quality</p>
      <p>crafted from top materials</p>
    </div>
    <div class="col">
      <img src="images/icons/protection.png" alt="">
      <p>Warrany Protection</p>
      <p>Over 2 years</p>
    </div>
    <div class="col">
      <img src="images/icons/shipping.png" alt="">
      <p>Free Shipping</p>
      <p>Order over 150 $</p>
    </div>
    <div class="col">
      <img src="images/icons/support.png" alt="">
      <p>24/7 Support</p>
      <p>Dedicated support</p>
    </div>
  </div>
</div>
</section>